<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EzFiFoMedan</title>
	<link rel="stylesheet" href="./panduan.css">
</head>
<body>
	<div class="float">
	<div class="container">
		<div class="awal">
			<h1>Panduan</h1>
			<p>Website EzFiFoMedan ini bertujuan untuk mencari tempat makan yang ada didaerah Medan.</p>
			<p>Pertama kita bisa mensearch pada tempat yang telah disediakan.</p>
			<img src="picture/awal.png" alt="">
			<p>Kita juga bisa memilih kategori dan harga yang telah disediakan.</p>
			<img src="picture/kategori.png" alt="">
			<img src="picture/harga.png" alt="">
			<p>Kita bisa langsung pada kolom tersebut. Misalnya : "<b>Thamrin</b>"</p>
			<img src="picture/search1.png" alt="">
			<p>Kita dapat melihat tempat makan apa saja yang pada jalan Thamrin.</p>
				<img src="picture/search.png" alt="">
			<p>Kita juga dapat meng-klik pada data yang muncul.</p>
			<img src="picture/klik.png" alt="">
			<p>Maka akan muncul tampilan yang lebih jelas tentang makanan tersebut.</p>
			<img src="picture/info.png" alt="">
			<p>Kita juga dapat meng-klik menu lain yang ada pada restoran tersebut. Misalnya : pada menu yang pertama.</p>
			<img src="picture/info1.png" alt="">
			<p>Maka akan muncul tampilan tentang makanan tersebut.</p>
			<img src="picture/info2.png" alt="">
			<p>kita juga bisa mencari tempat makanan tanpa menggunakan search. Hanya perlu memilih jenis khas apa yang kita mau. Misalnya: Western.</p>
			<img src="picture/wes.png" alt="">
			<p>Maka kita akan melihat data makanan yang ada hanya pada Western.</p>
			<img src="picture/wes1.png" alt="">
			<p>Kita bisa menggunakan search untuk mencari data makanan yang ingin kita cari.</p>
			<img src="picture/wes3.png" alt="">
			<p>Misalnya : Barbarian Pizza</p>
			<img src="picture/wes4.png" alt="">
			<p>Kita juga dapat meng-klik pada data makanan tersebut.</p>
			<img src="picture/wes2.png" alt="">
			<p>Dan akan muncul data tentang makanan tersebut.</p>
			<img src="picture/wes5.png" alt="">
			<p>Western, Japanese, Indonesian, Chinese, dan Lain-lain memiliki cara pencarian yang sama.</p>
			<p>Pada tombol <b>Ubah</b> Kita bisa memberitahukan informasi tentang data makanan yang salah. </p>
			<img src="picture/ub.png" alt="">
		</div>
		
	</div>
	<div class="footer">
			<a href="../Homepage.html">Home</a>
	</div>
	</div>
</body>
</html>